<a href="https://colab.research.google.com/github/Avilash-123/dmdw/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
y = np.array([[11,12,13],[14,15,16]])
z = np.concatenate((x,y))
z

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [11, 12, 13],
       [14, 15, 16]])

In [2]:
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size = (3,4)),columns = ['A','B','C','D'])
print(df)
np.sin(df*np.pi/4)
first_value = df.iloc[0][0]
print(df.subtract(first_value,axis =1))
first_row = df.iloc[0]
print(df.subtract(first_row,axis=1))

    A   B   C   D
0  21  80  26  74
1  70  33  48  78
2  43  17  54  83
    A   B   C   D
0   0  59   5  53
1  49  12  27  57
2  22  -4  33  62
    A   B   C  D
0   0   0   0  0
1  49 -47  22  4
2  22 -63  28  9

In [3]:
iris = pd.read_csv("/content/Iris.csv")
iris.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [4]:
iris.tail(7)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[7 rows x 6 columns]

In [5]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [7]:
df2 = pd.read_csv("/content/Iris.csv")
duplicate = df2[df2.duplicated()]
duplicate

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [8]:

df2.drop_duplicates(keep=False, inplace=True)

In [9]:
df2

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]